@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.Restaurant {
  margin: 1vh;
  padding: 1vw;
  border: 1.25px solid black;
  border-radius: 5%;
  height: 100%;
  width: 75%;
  text-align: center;
}

#Restaurants {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  margin-top: 5vh;
}

.RestaurantTitle {
  font-size: 1.5rem;
}

.RestaurantRating,
.RestaurantPriceLevel,
.RestaurantAddress {
  font-size: 0.75rem;
  padding: 0.5vw;
}

.RestaurantPriceLevel {
  color: green;
}

.RestaurantAddress {
  text-decoration: underline;
}
.SingleRestaurant {
  margin-top: 10vh;
  display: flex;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  height: 700px;
  width: 800px;
}
